 input[type=submit] 
 {
  background-color: white;
  border: none;
  color: black;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

form{
	background-color:black;
}
label{
	color:white;
}
h1{
	color: white;
	background-color: black;
}
body{
	background-color: blue;
}

a{
	 background-color: black;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}